.before {
  transition: all 0.3s ease-in-out;
  transform: translate(-350px, 0px);
  opacity: 0;
  visibility: hidden;
}
.after{
  transform: translate(0px, 0px);
  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}